# Node modules
node_modules/

data/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# VSCode
.vscode/

# Mac system files
.DS_Store

# Typescript cache
*.tsbuildinfo

# OS trash
.Trash-*

# Logs
*.log

# Optional: lockfiles (if you prefer one package manager only)
# yarn.lock
# package-lock.json

# Sentry Config File
.env.sentry-build-plugin
