[Unit]
Description=AuraSpeak Next.js Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/auraspeak/start.sh
Restart=always
WorkingDirectory=/opt/auraspeak
Environment=NODE_ENV=production
User=www-data

[Install]
WantedBy=multi-user.target
